colour==0.1.5
Flask==1.1.2
flask_jwt==0.3.2
flask_jwt_extended==4.4.0
flask_restful==0.3.9
flask_sqlalchemy==2.5.1
h5py==3.3.0
matplotlib==3.4.3
nptdms==1.4.0
numpy==1.20.3
PyQt5==5.15.6
pyqtgraph==0.12.4
PyWavelets==1.1.1
pyyawt==0.1.1
requests==2.26.0
scikit_learn==1.1.1
scipy==1.7.1
Werkzeug==2.0.2
